@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Integrating a machine learning model into the .NET Core backend using the genre predictor as an example.</p>
</div>